@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

.my-class{
  height: calc(100vh - 100px);
  /* background-color: red; */
}

::-webkit-scrollbar{
  display: none;
}